#t1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 26px;
    color:rgb(134, 165, 177);
}
#t2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 26px;
    color:rgb(134, 165, 177);
}
#t3{
    font-size: 15px;
    font-weight: 100;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#t8{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 26px;
    color:rgb(134, 165, 177);
}
#t6{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 26px;
    color:rgb(134, 165, 177);
}
#t4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 26px;
    color:rgb(134, 165, 177);
}
#t5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#t7{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#t9{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
